@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #E1AD01;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Hello From Pacific Tours!</h1>
    <p>Please Login and Book your next trip!</p>
</div>